# Virtual env
venv/
.env

# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage
.coverage.*

# VSCode
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
